body{
margin: 0px;
overflow-y:scroll;
}

svg 
{
  width:100%;
  height:100%;
  float:left;
}

#world{
  border-width: 5px;
  width:75%;
}

#world > div{
 height:100%; 
 width:100%;
 float:left;
 margin-left:10%;
 border-style: outset; 
 border-color: #FF9F48;
}

.main{
overflow:hidden;
margin:0;
}


.leftColumn{
float:left;

width:50%;

display: block;
/*background:#FFDFBB;*/
height:100%;
}

.rightColumn{
float: right;
padding-top: 4%;
padding-right: 5.5%;
width:44.5%;

display: block;
/*background:#FFDFBB;*/
height:100%;
}

.top{
float:left;
border: none;
width:100%;
background: #FF9F48;

}
.bottom{
float:left;
/*border: 1px solid;*/
width:100%;
font-family: Arial, Helvetica, sans-serif;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  /*margin-left: 11%;*/
  /*margin-right:0%;*/
  padding-left: 11%;
  float: left;
  
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #FF9F48;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 

	
}

.loadingDialog {
	padding-left: 20%;
	height: 50%;
}

.title
{
	/*text-shadow:1px 0px 0 rgba(178,102,33,0.5);*/
	font-weight:bold;
	color:#FF9F48;
	letter-spacing:2pt;
	word-spacing:0pt;
	font-size:139%;
	text-align:left;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
}

.dropdownBox{
	float: left;
	width: 75%;
	background-color: #FF9F48;
  height:100%;
}

.symbolsBox{
	width: 25%;
	background-color: #ffa048;
	float: left;
  height:100%;
}

.table{
  display: table;
  width: 100%;

}

.row{
  width: 100%;
  height: 30%;
  border: 1px solid;
  border: 1px solid;
  border-color: #000000;
  display: table-row;
}

.cell{
  width: 25%;
  height: 100%;
  display: table-cell;
  padding: 1%;
  border: black;

}

.cell2{
  display: table-cell;
  width: 100%;
   /*border: 1px solid;
border-color: #000000;*/
}

#cell1, #cell2{
  width: 40%;
}

#cell3{
  width: 20%;
}

#cell4, #cell5{
  width: 15%;
}

#cell6, #cell7{
  width: 35%;
}

#cell8{
  width:80%;
}
#cell9{
  width:10%;
}

#cell10{
  width:10%;
}

table{
  width:100%;
}

td{
  height: 60%;
}
.autoResizeImage{
  max-width: 100%;
  height: auto;
  width: 50%;
}
.goButtonDiv{
  vertical-align: bottom;
  float: right;
}
.goButton {
  background-color:#ffa048;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:18px 12px;
  text-decoration:none;
}
.goButton:hover {
  background-color:#f5770a;
}
.goButton:active {
  position:relative;
  top:1px;
}

.txtExpr{
  width:96%;
  padding: 1% 1% 1% 1%;
  margin:0.5%;
  height:96%;
    font-size: x-large;

}

.btn.symbol {
  padding: 0px;
}

.btn{
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background: #1495b7;
  padding: 1% 1% 1% 1%;
  width:100%;
  text-decoration: none;
  border:solid;
  border-color: #FF9F48;

}

.btn:hover {
  background: #00b5e5;
  text-decoration: none;

  }

#addExpr {
  height: ;
}
select{
    font-family: Arial;
  color: #ffffff;
  font-size: 13.3px;
  font-weight: bold;
  background: #1495b7;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  border:solid;
  border-color: #FF9F48;
  width:100%;
}

.bottomLeft {
  background-color: '#FF9F48';
  width: 100%;
  height: 100%;
  float: left;
  margin: 1.5%;
 
}

#outputDiv {
  width: 100%;
  height: 500px;
  border: 10px;
  overflow-y: scroll;
}

.expression {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #0390B2;
  color: white;
  font-size: large;
  float:left;
  margin-bottom: 5px;
  min-height: 1px;

}

.expression p {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  float:left;
  width:87%;
  height:100%;
}

.expression p:hover {
  text-decoration: underline;
  cursor: pointer;
}


.result {
  height: 50px;
  width: 60px;
  background: gray;
  color: white;
  float: right;
}

.result.pass {
  background: #009933;
  width: 45px;
  height: 35px;
  padding-top: 15px;
  padding-left: 15px;
}

.result.fail {
  background: #FF5C5C;
  width: 48px;
  height: 35px;
  padding-top: 15px;
  padding-left: 12px;
}

.delexpr {
  padding-top: 15px;
  padding-left: 10px;
  height: 35px;
  width: 25px;
  background: #0390B2;
  color: white;
  font-size: large;
  float: right;
}

.delexpr:hover {
  background: #115b6d;
  cursor: pointer;
}

