body{
  margin: 0px;
  overflow-y:scroll;
  /*background-color: #9EE4F5;*/
  font-family: Arial;
  background-image: URL('tilebackground.png');
  background-size: 50%;
  background-repeat: repeat;

}

#titleBar {
  height: 50%;
  background-color: transparent;
  color: #FFF;

}

#titleBar > div {
  font-size:15.5px;
  padding-left: 5px;
  }

  #titleBar > button{
    color: #FFF;

    font-size:14px;
    font-family: Arial;
  }


.nav-item {
  background-color: #FF9F48;
  height: 35px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.nav-item > p {
  vertical-align: middle;
}

select {
  color: #ffffff;
  font-size: 13.3px;
  font-weight: bold;
  background: #1495b7;
  text-decoration: none;
  border:solid;
  border-color: #FF9F48;
}

#liblist {
  height: 100%;
}

#world-column {
  float: left;
  width: 50%;
}

#expression-column {
  float: right;
  width: 50%;
}

.clear {
  clear: both;
}

button.symbol {
  width:8.88888%;
  height: 50px;
  float: left;
}

#expr-box {
  margin: 5px;
  height: 100px;
  background-color: #FF9F48;
}

#expr-box form {
  height: 45px;
  margin: 0px;
  float: left;
  width: 80%;
}

#expr-box input {
  height: 35px;
}

#expr-box button.press {
  width: 20%;
  height: 50%;
  float: right;
}

.button-box {
  background-color: #FF9F48;
  width: 49%;
  margin: 0.5%;
  margin-top: 5px;
  height: 100px;
  float: left;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.left-box, .left-mod {
  float: left;
  height: 50px;
}

select.left-box {
  width: 50%;
}

.left-mod {
  width: 25%;
}

div.left-mod {
  padding-left: 3%;
  padding-top: 15px;
  height: 35px;
  width: 22%;
  font-size: 17px;
}
.left-mod2 input {
  width: 97%;
  padding-left: 3%;
  height: 40px;
}

.left-mod2 {
  float: left;
  height: 50px;
  width: 50%;

}

#addObj {
  height: 100px;
  width: 25%;
  float: right;
}

#copyObj, #removeObj {
  float: right;
  width: 25%;
  height: 50px;
}

#world{
  border-width: 5px;
  width:70%;
  margin-right: auto;
  margin-left: auto;
}

#world > div{
 height:100%; 
 width:100%;
 float:left;
 border-style: outset; 
 border-color: #FF9F48;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title
{
	/*text-shadow:1px 0px 0 rgba(178,102,33,0.5);*/
	font-weight:bold;
	color:#FF9F48;
	letter-spacing:2pt;
	word-spacing:0pt;
	font-size:139%;
	text-align:left;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
}

.autoResizeImage{
  max-width: 100%;
  height: auto;
  width: 50%;
}
.goButtonDiv{
  vertical-align: bottom;
  float: right;
}
.goButton {
  margin: 5px;
  width: 80px;
  background-color:#ffa048;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  height: 40px;
  padding-top:18px;
  padding-left: 40px;
  text-decoration:none;
}
.goButton:hover {
  background-color:#f5770a;
}
.goButton:active {
  position:relative;
  top:1px;
}

.txtExpr{
  width:96%;
  padding: 1% 1% 1% 1%;
  margin:0.5%;
  height:96%;
    font-size: x-large;

}

.btn.symbol {
  padding: 0px;
}

.btn{
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background: #1495b7;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  border:solid;
  border-color: #FF9F48;

}

.btn:hover {
  background: #00b5e5;
  text-decoration: none;

  }

.main select{
    font-family: Arial;
  color: #ffffff;
  font-size: 13.3px;
  font-weight: bold;
  background: #1495b7;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  border:solid;
  border-color: #FF9F48;
  width:100%;
}

.bottomLeft {
  background-color: '#FF9F48';
  width: 100%;
  height: 100%;
  float: left;
  margin: 1.5%;
 
}

#outputDiv {
  width: 100%;
  height: 500px;
  border: 10px;
  background-color: #9EE4F5;
  overflow-y: scroll;
}

.expression {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #0390B2;
  color: white;
  font-size: large;
  float:left;
  margin-bottom: 5px;
  min-height: 1px;

}

.expression p {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  float:left;
  width:87%;
  height:100%;
}

.expression p:hover {
  text-decoration: underline;
  cursor: pointer;
}


.result {
  height: 50px;
  width: 60px;
  background: gray;
  color: white;
  float: right;
}

.result.pass {
  background: #009933;
  width: 45px;
  height: 35px;
  padding-top: 15px;
  padding-left: 15px;
}

.result.fail {
  background: #FF5C5C;
  width: 48px;
  height: 35px;
  padding-top: 15px;
  padding-left: 12px;
}

.delexpr {
  padding-top: 15px;
  padding-left: 10px;
  height: 35px;
  width: 25px;
  background: #0390B2;
  color: white;
  font-size: large;
  float: right;
}

.delexpr:hover {
  background: #115b6d;
  cursor: pointer;
}

