<!DOCTYPE html>
<html>
<head>
	<title>Davids World</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="static/js/buttons.js"></script>
	<script type="text/javascript" src="static/js/bonsai-0.4.1.min.js"></script>
	<script type="text/javascript" src="static/js/saveload.js"></script>
	<script type="text/javascript" src="static/js/userInterface.js" ></script>
	<script type="text/javascript" src="static/js/parser.js" ></script>
	<script type="text/javascript" src="static/js/evaluation.js" ></script>
	<script type="text/javascript" src="static/js/world.js"></script>
	<!--[if IE 6]>
	<link rel="stylesheet" type="tex/css" href="iespecific.css" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="static/css/userinterface.css">
</head>
<body onload = "setSize()">	
	<div id="cover"></div>
	<div id="saveprompt">
	        <div class="boxtitle">Enter Filename</div>
	       	<input type="text" id="fileName" name="fileName" value="">
	        <a id="performSave" class="btn" onclick="" href="#">&nbsp;&nbsp;Save</a>
	        <a id="close" class="btn">Cancel</a>
	</div>
	<div id="titleBar"> <!-- START OF TITLE BAR -->
		<img src="static/img/logicfactorynobg.png" align="center" style="padding-left:2%; background-size: cover; width: 45%; height: 60%">
		<button class="nav-item" onclick="saveOutput()" style="width:10%;">Save File</button>
		<button class="nav-item" type="button" id="fileSelect" class="btn" data-toggle="tooltip" title="Select a file to load." style="width:10%;">Load File</button>
		<input type="file" id="files" name="files[]" multiple style="display:none;"/>
        <output id="list"></output>
		<div class="nav-item" style="width:18.5%;">
			<p style="float:left;">Current Library </p>
			<select id='liblist' data-toggle="tooltip" title="Library Selection" style="float: right; width:50% ">
			{% for library in libraries %}
				<option {% if loop.first %}selected{% endif %} 
					value="{{ library }}">{{ library.capitalize() }}</option>
			{% endfor %}
			</select> 
		</div>

	</div> <!-- END OF TITLE BAR -->

	<div id="world-column"> <!-- START OF WORLD COLUMN -->
		<div class="button-box">
			<button type="button" class="btn" id="addObj">Add Object</button>
			<div class="left-mod">TYPE: </div>
			<select class="left-box" data-toggle="tooltip" title="Object Selection" id="objList"></select>
			<div class="left-mod">COLOUR:</div>
			<select class="left-box" id="colourList" data-toggle="tooltip" title="Select By Colour"style="font-family: Arial"></select>
			
		</div>
		<div class="button-box">
				<div class="left-mod">SIZE:</div> 
				<button type="button" class="btn left-mod" data-toggle="tooltip" title="ObjectBigger" id="sizeInc">Bigger</button>
				<button type="button" class="btn left-mod" data-toggle="tooltip" title="ObjectSmaller" id="sizeDec">Smaller</button>
			<button type="button" class="btn" data-toggle="tooltip" title="ObjectCopy" id="copyObj">Copy</button>
			<div class="clear"></div>
			<div class="left-mod">NAME: </div> 
			<div class="left-mod2"><input type="text" id="objNamer" name="objNamer" value="Object Name" onclick="this.value=='Object Name'?this.value='':this.value;"></div>
			<button type="button" class="btn " data-toggle="tooltip" title="ObjectRemove" id="removeObj">Remove</button>
		</div>
		<div id ="world"></div>
	</div> <!-- END OF WORLD COLUMN -->

	<div id="expression-column"> <!-- START OF EXPRESSIOn COLUMN -->
		<div id="expr-box">
			<form>
				<input type="text" name="expression" id ="txtExpr" value="Input expression" onclick="this.value=='Input expression'?this.value='':this.value;" autocomplete="off" class="txtExpr" data-toggle="tooltip" title="Expression Entry"> 
			</form>
			<button onclick="worldstage.sendMessage('getworldforadd');"  type="button" id="addExpr" class="btn press" data-toggle="tooltip" title="Adds the Current Expression">Add Expression</button>
			<div class="clear"></div>
			<button type="button" class="btn symbol" onclick="button('not')" data-toggle="tooltip" title="Not. ~ is the keyboard shortcut"><img class="autoResizeImage" src="static/img/notsymbol.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('and')" data-toggle="tooltip" title="Logical And. ^ and & are keyboard shortcuts"><img class="autoResizeImage" src="static/img/and.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('or')" data-toggle="tooltip" title="Logical Or. | is the keyboard shortcut"><img class="autoResizeImage" src="static/img/or.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('xor')" data-toggle="tooltip" title="Exclusive Or. \x is the keyboard shortcut"><img class="autoResizeImage" src="static/img/xor.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('implies')" data-toggle="tooltip" title="Implies. -> is the keyboard shortcut"><img class="autoResizeImage" src="static/img/implies.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('iff')" data-toggle="tooltip" title="Iff. <-> is the keyboard shortcut"><img class="autoResizeImage" src="static/img/leftright.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('for all')" data-toggle="tooltip" title="For All. \a is the keyboard shortcut"><img class="autoResizeImage" src="static/img/all.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('there exists')" data-toggle="tooltip" title="There Exists. \e is the keyboard shortcut"><img class="autoResizeImage" src="static/img/thereexists.png" align="middle"></button>
			<button type="button" class="btn symbol" onclick="button('dot')" data-toggle="tooltip" title="Seperator. : is the keyboard shortcut"><img class="autoResizeImage" src="static/img/dot.png" align="middle"></button>

			<button type="button"class="btn press" onclick="button('clear')" data-toggle="tooltip" title="Clears the Current Expression">Clear Expression</button>
			<div class="clear"></div>

		</div>
		<p id="parserError">
			Errors would go here
		</p>
		<div id="outputDiv">
		</div>
		<div class = "goButtonDiv">
			<a href="#" class="goButton" onclick= "go()">Go!</a>
		</div>
	</div> <!-- END OF EXPRESSIOn COLUMN -->

	<div class="clear"></div>
</div>
</body>
<script>

var worldstage;

$(document).ready(function () {
	console.log('ready');

	//$('[data-toggle="tooltip"]').tooltip();
	var library_name = $('#liblist').val();

	console.log('almost data');
	$.getJSON("lib/" + library_name + "/" + library_name + "_lib.json", function(data){
  		console.log('data');

		console.log(data);
		setLibrary(data);
		worldstage = bonsai.run(document.getElementById('world'),{
			url: 'static/js/world.js',
		  	world: data,
		  	code: function(err, data) {
		    	library = stage.options.world;
		    	buildWorld();
		  	}
		});
		//worldstage.renderer.height = 655;
		//console.log("test", worldstage.renderer.svg[0].height = 655);
		setupListeners();
		populateObjectSelect(data);
		populateColourSelect();
				
	}).error(function(xhr) {
        console.log('error', xhr)
    });
	console.log('done'); 
});

//Adds a listener to the hidden file load button.
document.getElementById('files').addEventListener('change', handleFileLoad, false);

</script>
</html> 

